<!DOCTYPE html>
<html>
  <head>
    <title>WOULD YOU GO?</title>
    <link rel='stylesheet' href='/css/bootstrap.css' />
    <link rel='stylesheet' href='/css/theme.css' />
  </head>
  <body>
	<div id="main-nav">
      <div  class="col-md-12 clearfix main-nav-class">

        <div class="pull-right">
          <ul class="nav nav-pills">
            <li><a href="/"><span class="glyphicon glyphicon-home"></span></a></li>
            <!-- <li><a href="">About Us</a></li> -->
          </ul>
        </div>
        <div class="pull-left">
          <ul class="nav nav-pills">
            <!-- <li><a href="finish" class="btn btn-danger ">Quit</a></li> -->
          </ul>
        </div>
      </div>
    </div>
    <div id="main-container">
      <div class="container">
        <div class="row">
          
          <div class="col-md-2"></div>
          <div class="col-md-8 main-col" >
          	<h1>
          		Welcome to WOULD YOU GO?
          	</h1>
          	<span>
                  <p>
                    This app is for our Social Networks Course - Electrical and Computer Engineering Dept. - University of Tehran. Your data will be <b>anonymously used</b> and <b>not published.</b>
                    Your data will only be used for this project and is safe with us.
                    <br>
                    Please report any bugs to aryaz.egh+social [AT] gmail.com (replace [AT] with '@')
                    <br/>
          		    <a href="start" class="btn btn-success btn-lg my-btn">start</a>
                  </p>
          	</span>
          </div>
          <div class="col-md-2"></div>

        </div>
      </div>
    </div>


    <footer></footer>
    <script src="js/jquery-1.10.2.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/theme.js"></script>
  </body>
</html>